<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
  <p-card header="REGISTER" [style]="{ width: '360px' }">
    <div class="field">
      <label for="text">Full Name</label>
      <input
        type="text"
        pInputText
        formControlName="fullName"
        class="w-full"
        name="text"
        placeholder="Enter your FullName!"
      />
      <small *ngIf="(fullName.dirty|| fullName.touched)" class="block p-error">
       <div *ngIf="fullName.errors?.['required']">Name is required!</div>
       <div *ngIf="fullName.errors?.['pattern']">Enter a Valid Name!</div>
      </small>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Enter your Email!"
      />
      <small *ngIf="email.invalid && (email.dirty|| email.touched)" class="block p-error">
       <div *ngIf="email.errors?.['required']">Email is required!</div>
       <div *ngIf="email.errors?.['email']">Email Should be valid!</div>
      </small>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Enter your Password!"
      />
      <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
        <div *ngIf="password.errors?.['required']">Password is required!</div>
      </small>
    </div>
    <div class="field">
      <label for="password">Confirm Password</label>
      <input
        type="password"
        pInputText
        formControlName="confirmPassword"
        class="w-full"
        name="confirmPassword"
        placeholder="Confirm Password!"
      />
      <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="block p-error">
        <div *ngIf="confirmPassword.errors?.['password']">Confirm password is required!</div>
      </small>
      <small class="block p-error" *ngIf="registerForm.errors?.['passwordMisMatch'] && confirmPassword.valid && password.valid">
        Password should be Match!
      </small>
    </div>
    <p-button label="REGISTER" type="submit" styleClass="w-full" [disabled]="registerForm.invalid"/>

    <div class="mt-2">Already sign up? <a routerLink="/login">Login</a></div>
    <!-- Must have to add / slash for routerLink in primeNG -->
  </p-card>
</form>
