<h3>Header Component!</h3>
<div class="grid">
  <div  class="col">
    <div class="col-3"> Small Device : 1/3 or 4/12</div>
  </div>
  <div class="col">
    <div class="col-3">Small Device : 1/3 or 4/12</div>
  </div>
  <div class="col">
    <div class="col-6">Small Device : 1/3 or 4/12</div>
  </div>
</div>
<div class="grid">
  <div  class="col">
    <div class="p-sm-2">Medium Device : 1/3 or 4/12</div>
  </div>
  <div class="col">
    <div class="p-sm-2">Medium Device : 1/3 or 4/12</div>
  </div>
  <div class="col">
    <div class="p-sm-8">Medium Device : 1/3 or 4/12</div>
  </div>
</div>
<!-- <p-toolbar>
  <div class="p-toolbar-group-start">
      <p-button icon="pi pi-plus" class="mr-2"/>
  </div>
  <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText placeholder="Search" />
      </span>
  </div>
  <div class="p-toolbar-group-end">
    <p-inputSwitch [(ngModel)]="checked" (click)="onThemeChange(checked ?'light':'dark')" />
  </div>
</p-toolbar>
 -->
