<div class="flex min-h-screen align-items-center justify-content-center">
  <div class="border-1 border-gray-500 border-round">
    <div class="flex align-items-center p-3 text-900">
      <span>Dropdown</span>
      <i class="pi pi-chevron-down ml-2"></i>
    </div>
    <div>
      <ul class="list-none p-0 m-0">
        <li><a class="block py-2 px-3 no-underline text-800" href="https://www.primefaces.org/showcase">PrimeFaces</a></li>
        <li><a class="block py-2 px-3 no-underline text-800" href="https://www.primefaces.org/primeng">PrimeNG</a></li>
        <li><a class="block py-2 px-3 no-underline text-800" href="https://www.primefaces.org/primereact">PrimeReact</a></li>
        <li><a class="block py-2 px-3 no-underline text-800" href="https://www.primefaces.org/primevue">PrimeVue</a></li>
      </ul>
    </div>
  </div>
</div>
